.section-container{
    max-width: 800px;
    margin: auto;
}
 
.section-titulo{
    text-align: center;
    letter-spacing: 40ox;
    font-size: 30px;
    font-weight: 400PX;
}
 
.section-subtitulo{
    text-align: center;
    font-style: italic;
    opacity: 0.6;
    margin: 15px 0;
}
 
.about-text{
    text-align: justify;
    margin-bottom: 30px;
 
}
 
.members-grid{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 32px 0;
}
 
.meber-card img{
    width: 160px;
    border-radius: 4px;
    margin-top: 15px;
}