.hero{
    background: url(../Imagens/photo.avif);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}
 
.hero-caption{
    color: azure;
    text-align: center;
}