.navbar{
  background-color:  black;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
}
 
.nav-item{
        color: white;
        padding: 12px 24px;
        text-decoration: none;
        font-size: 15px;
        background: none;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
}
 
.nav-item:hover{
    background-color: darkgray;
    color: rgb(0, 0, 0);
}