*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow','Arial, sans-serif';
}
 
html{
    scroll-behavior: smooth;
}
 
body{
    color: rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    line-height: 1.5;/*Altura ente linhas*/
}