* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 
html {
    scroll-behavior: smooth;
}
 
body {
    color: black;
    background-color: rgb(255, 255, 255);
    line-height: 1.5; /*Altura entre linhas*/
}